 .u-section-1 {
  --color-var: #d4e2d2;
  min-height: 1111px;
}

.u-section-1 .u-image-1 {
  height: 824px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  filter: brightness(0.85);
}

.u-section-1 .u-text-1 {
  line-height: 1;
  margin: -544px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 216px auto 29px;
}

.u-section-1 .u-repeater-1 {
  --gap: 0px;
  grid-auto-columns: 25%;
  grid-template-columns: repeat(4, 25%);
  min-height: 405px;
}

.u-section-1 .u-list-item-1 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 128px;
  height: 128px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0 20px;
}

.u-section-1 .u-text-3 {
  margin: 12px 0 0 20px;
}

.u-section-1 .u-list-item-2 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 128px;
  height: 128px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 600;
  margin: 12px auto 0 20px;
}

.u-section-1 .u-text-5 {
  margin: 12px 0 0 20px;
}

.u-section-1 .u-list-item-3 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 128px;
  height: 128px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 600;
  margin: 12px auto 0 20px;
}

.u-section-1 .u-text-7 {
  margin: 12px 0 0 20px;
}

.u-section-1 .u-list-item-4 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  width: 128px;
  height: 128px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-8 {
  font-weight: 600;
  margin: 12px auto 0 20px;
}

.u-section-1 .u-text-9 {
  margin: 12px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 23px);
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 334px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1449px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 23px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 744px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1773px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -531px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 203px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1865px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -507px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 179px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(212, 226, 210, 1), #ffffff);
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 689px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 704px;
  height: 288px;
  margin: 21px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 139px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-size: cover;
  padding-left: 0;
  min-height: 891px;
}

.u-section-3 .u-text-1 {
  margin: 27px auto 0;
}

.u-section-3 .u-shape-1 {
  height: 155px;
  --color-var: #f5d653;
  margin-top: 86px;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -214px auto 0;
}

.u-section-3 .u-repeater-1 {
  --gap: 0px;
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 443px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0 19px;
}

.u-section-3 .u-image-1 {
  width: 238px;
  height: 238px;
  margin: 0 auto 0 12px;
}

.u-section-3 .u-text-2 {
  margin: -238px 0 0 271px;
}

.u-section-3 .u-text-3 {
  margin: 13px 0 0 271px;
}

.u-section-3 .u-text-4 {
  margin: 12px 0 0 271px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 0 19px;
}

.u-section-3 .u-image-2 {
  width: 238px;
  height: 238px;
  margin: 0 auto 0 12px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: -238px 0 0 271px;
}

.u-section-3 .u-text-6 {
  margin: 13px 0 0 271px;
}

.u-section-3 .u-text-7 {
  margin: 12px 0 0 271px;
}

.u-section-3 .u-image-3 {
  height: 347px;
  margin-top: -6px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1111px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: 301px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 358px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 358px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: 301px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: 358px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: 358px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1817px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 1306px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1660px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(212, 226, 210, 1));
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 258px;
}

.u-section-4 .u-image-1 {
  width: 161px;
  height: 161px;
  margin: 60px 232px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  width: 252px;
  margin: -154px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-social-icons-1 {
  height: 30px;
  width: 30px;
  margin: -30px auto 0 444px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-4 .u-image-2 {
  width: 192px;
  height: 161px;
  margin: -154px auto 30px 201px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 132px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: 344px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -161px;
    margin-left: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -162px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: -29px;
    margin-left: 234px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -154px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: -138px;
    margin-right: 161px;
    margin-left: 183px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 21px;
    width: 21px;
    margin-top: -21px;
    margin-left: 183px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -138px;
    margin-bottom: -721px;
    margin-left: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-4 .u-image-1 {
    width: 150px;
    height: 150px;
    margin-top: 393px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -513px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 30px;
    width: 30px;
    margin-top: -30px;
    margin-left: 25px;
  }

  .u-section-4 .u-image-2 {
    width: 179px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 97px;
    margin-left: 16px;
  }
}