.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-image-1 {
  width: 483px;
  height: 483px;
  margin: 100px 87px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -451px 878px 0 0;
}

.u-section-1 .u-line-1 {
  width: 143px;
  transform-origin: left center;
  margin: 31px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 708px 130px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 678px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 508px;
    margin-bottom: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 144px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 144px;
  }

  .u-section-1 .u-text-2 {
    width: 432px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 57px;
    margin-right: 290px;
    margin-left: 54px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 54px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 235px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
