.u-section-1 .u-sheet-1 {
  min-height: 525px;
}

.u-section-1 .u-image-1 {
  width: 410px;
  height: 410px;
  margin: 45px 160px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -361px 974px 0 0;
}

.u-section-1 .u-line-1 {
  width: 104px;
  transform-origin: left center;
  margin: 31px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 30px 600px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 774px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 554px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 189px;
    margin-right: 130px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 374px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 160px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -291px;
    margin-right: 174px;
  }
} .u-section-2 {
  --color-var: #d4e2d2;
}

.u-section-2 .u-sheet-1 {
  min-height: 124px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 33px 103px;
}