 .u-section-1 {
  min-height: 1417px;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: -454px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 428px auto 60px;
}

.u-section-1 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 814px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 249px;
  height: 249px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 249px;
  height: 249px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 249px;
  height: 249px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  width: 249px;
  height: 249px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  width: 249px;
  height: 249px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-7 {
  width: 249px;
  height: 249px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-text-1 {
    margin-top: -410px;
    margin-left: calc(((100% - 940px) / 2)  + 378px);
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 369px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 671px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -1px;
    margin-left: calc(((100% - 720px) / 2)  + 290px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -40px;
    margin-bottom: -56px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1156px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 1072px;
    margin-left: calc(((100% - 540px) / 2)  + 218px);
    font-size: 4rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -1123px;
    margin-bottom: -1059px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 1099px;
    margin-left: calc(((100% - 340px) / 2)  + 137px);
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: -1016px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}