 .u-section-1 {
  padding-right: 0;
  padding-left: 0;
  min-height: 1633px;
}

.u-section-1 .u-image-1 {
  height: 348px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -240px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 204px auto 30px;
}

.u-section-1 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 1225px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-1 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-2 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-2 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-3 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-3 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-4 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-4 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-5 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-9 {
  margin: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-5 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-6 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-11 {
  margin: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-6 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-7 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-13 {
  margin: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-7 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-8 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-15 {
  margin: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-8 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-9 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-17 {
  margin: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-1 .u-group-elements-9 {
  min-height: 330px;
  height: auto;
  margin: 21px 9px 0;
}

.u-section-1 .u-image-10 {
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-1 .u-text-19 {
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1570px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-bottom: -3px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 1010px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-9 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2333px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-bottom: -36px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1085px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3814px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -227px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 191px;
    margin-bottom: -22px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3862px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -253px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 217px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}